.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}


/* tendência */


.slider_tendencia{
    overflow: hidden;

}
.slider_tendencia > .slider-content_tendencia{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider_tendencia > .slider-content_tendencia > .slider-item_tendencia {
    flex: 0 0 auto;
    width: 100%;
}

.slider_tendencia > input:nth-child(1):checked ~ .slider-content_tendencia{
    transform: translateX(0%);
}

.slider_tendencia > input:nth-child(2):checked ~ .slider-content_tendencia{
    transform: translateX(-100%);
}
.slider_tendencia > input:nth-child(3):checked ~ .slider-content_tendencia{
    transform: translateX(-200%);
}

.slider_tendencia > input:nth-child(4):checked ~ .slider-content_tendencia{
    transform: translateX(-300%);
}