.margin_auto{
    margin: auto;
}

/* Atributos: Fontes */

.font_15 {
    font-size: 15px;
}

.font_20 {
    font-size: 20px;
}
.font_30 {
    font-size: 30px;
}
.font_40 {
    font-size: 40px;
}
.font_60 {
    font-size: 60px;
}

/* Atributos: Margin à esquerda */
.m_40_l {
    margin-left: 40px;
}

.m_10_l {
    margin-left: 10px;
}

.m_20_l {
    margin-left: 20px;
}

.m_30_l {
    margin-left: 30px;
}

.m_25_l_p {
    margin-left: 25%;
}

/* Atributos: Margin à direita */

.m_20_r {
    margin-right: 20px;
}

.m_40_r {
    margin-right: 40px;
}

.m_10_r_p {
    margin-right: 10%;
}

/* Atributos: Margin do topo */

.m_10_t {
    margin-top: 10px;
}

.m_20_t {
    margin-top: 20px;
}

.m_40_t {
    margin-top: 40px;
}

.m_60_t {
    margin-top: 60px;
}

.m_100_t {
    margin-top: 100px;
}

.m_120_t {
    margin-top: 120px;
}

/* Atributos: Margin inferior */

.m_20_b {
    margin-bottom: 20px;
}

/* Atributos: Largura */
.w_100 {
    width: 100%;
}

.w_90 {
    width: 90%;
}

.w_80 {
    width: 80%;
}

.w_40 {
    width: 40%;
}

.w_30 {
    width: 30%;
}

.w_20 {
    width: 20%;
}

.border_25 {
    border-radius: 25px;
}

/* _________________________________ */

.flex {
    display: flex;
    flex-direction: row;
}

.flex_const {
    display: flex;
    flex-direction: row;
}

.body {
    background-color: #4d4e4f;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container_melhores {
    margin-top: 40px;
    margin-left: 20px;
    color: #4d4e4f;

}

/* Mobile */



@media screen and (max-width: 450px) {


    .flex {
        display: flex;
        flex-direction: column;
    }

    .body {
        background-color: #4d4e4f;
        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 5px;
    }

    .font_30 {
        font-size: 20px;
    }

    .font_60 {
        font-size: 45px;
    }

    .container {
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .container_melhores {
        margin-top: 40px;
        margin-left: 20px;
        color: #4d4e4f;
    
    }

    .m_40_t {
        margin-top: 50px;
    }

    .m_25_l_p {
        margin-left: 15%;
    }

    .slider-item .w_30 {
        width: 65%;
    }

    .slider-item .m_40_l {
        margin-left: 20px;
    }

    .m_120_t_detalhes {
        margin-top: 5px;
    }

    .trailer_detalhes{
        width: 380px;
        height: 315px;        
    }
            
    
    .modal .content {
        background-color: #D3D3D3;
        margin: 15% auto; 
        padding: 20px;
        border-radius: 5px;
        width: 380px;
        height: 350px;
        margin-top: 30%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        font-family: 'LexendDeca-Regular';
        color: var(--title);
    }


}