.margin_auto{
    margin: auto;
}

/* Atributos: Fontes */

.font_15 {
    font-size: 15px;
}

.font_20 {
    font-size: 20px;
}
.font_30 {
    font-size: 30px;
}
.font_40 {
    font-size: 40px;
}
.font_60 {
    font-size: 60px;
}

/* Atributos: Margin à esquerda */
.m_40_l {
    margin-left: 40px;
}

.m_20_l {
    margin-left: 20px;
}

.m_25_l_p {
    margin-left: 25%;
}

/* Atributos: Margin à direita */

.m_20_r {
    margin-right: 20px;
}

.m_40_r {
    margin-right: 40px;
}

/* Atributos: Margin do topo */

.m_40_t {
    margin-top: 40px;
}

.m_60_t {
    margin-top: 60px;
}

.m_100_t {
    margin-top: 100px;
}

/* Atributos: Margin inferior */

.m_20_b {
    margin-bottom: 20px;
}

/* Atributos: Largura */
.w_100 {
    width: 100%;
}

.w_90 {
    width: 90%;
}

.w_80 {
    width: 80%;
}

.w_40 {
    width: 40%;
}

.w_30 {
    width: 30%;
}

.w_20 {
    width: 20%;
}

.border_25 {
    border-radius: 25px;
}